[Desktop Entry]
Name=OpenStego
GenericName=Steganography program
Comment=Free Steganography solution
Exec=openstego
Icon=/usr/share/pixmaps/openstego.svg
Terminal=false
Type=Application
Categories=Utility;
