[Unit]
Description=Dionaea low interaction honeypot
Documentation=man:dionaea https://dionaea.readthedocs.io/
After=multi-user.target

[Service]
Type=forking
Restart=on-abort
RestartSec=1s
PIDFile=/var/run/dionaea.pid
EnvironmentFile=-/etc/sysconfig/dionaea
ExecStart=/usr/sbin/dionaea -D $DUSER $DGROUP $DWORKDIR $LOGLEVELS $LOGDOMAINS $PIDFILE $MISC


[Install]
WantedBy=dionaea.target

